<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return [
    'idlerpg' => [
        'bot_nick'     => 'Idle',
        'bot_channel'  => '#idle',
        'bot_db'       => '/path/to/irpg.db',
        'bot_item'     => '/path/to/mapitems.db',
        'bot_mod'      => '/path/to/modifiers.txt',
        'bot_quest'    => '/path/to/questinfo.txt',

        'network_name' => 'ExampleNet',
        'network_host' => 'irc.example.org',

        'map_image'    => __DIR__ . '/../../public/img/themap.png',
    ]
];
